form {
    margin-top: 50px;
}

h2 div {
    color: rgb(70 152 234);
    margin-top: 30px;
}

h5 div {
    opacity: .6;
}

.form-group {
    margin-bottom: 1rem;
}

.float-left {
    float: left !important
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.btn.btn-pill.btn-wide,
.btn.btn-pill {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-outline-secondary.btn-shadow {
    box-shadow: 0 0.125rem 0.625rem rgba(108, 117, 125, .4), 0 0.0625rem 0.125rem rgba(108, 117, 125, .5);
}

.btn.btn-wide {
    padding: 0.375rem 1.5rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn {
    position: relative;
    transition: color .15s, background-color .15s, border-color .15s, box-shadow .15s;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.form-check-input[type=checkbox] {
    margin-right: 10px;
}

#skillRemoveLbl {
    margin-top: 20px;
}