<div class="main-card mb-3 card">
  <div class="card-body">


    <ul ngbNav #nav="ngbNav" class="nav-pills">
      <li *ngFor="let tab of tabs | keyvalue:keepOriginalOrder" ngbNavItem="{{tab.key}}">
        <a ngbNavLink> <span class="badge badge-secondary badge-pill">{{i}}</span> {{ tab.value.label }} </a>
        <ng-template ngbNavContent>
          <h2 class="text-center">{{ tab.value.label }} </h2>
          <app-dynamic-form [formFields]="tab.value.formFields | async " (onSubmitChange)="onSubmit($event)">
          </app-dynamic-form>

          <input type="button" class="btn btn-primary" value="Previous" (click)="clickPrev(tab.key)" />
          <input type="button" class="btn btn-primary" value="Next" (click)="clickNext(tab.key)" />


        </ng-template>
      </li>
    </ul>
    <div class="d-flex justify-content-center">
      <div class="col-lg-6">
      <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="col-lg-6">
      Preview
    </div>
    </div>
  </div>
</div>